/INFO5100_Final_Project/nbproject/private/
/INFO5100_Final_Project/build/
/HER-Heal,Empower,Relief/nbproject/private/
/HER (Heal,Empower,Relief)/nbproject/private/
/HER (Heal,Empower,Relief)/build/
/HER (Heal,Empower,Relief)/dist/
